.cart
    width: 700px
    margin: 0 auto
    height: auto
    padding-top: 40px
    &__title
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-bottom: 30px
        h1
            font-size: 28px
        div
            display: flex
            align-items: center
        img
            width: 35px
            height: 35px
            margin-right: 10px
        button
            width: 140px
            height: 40px
            border: none
            background: white
            &:hover
                text-decoration: underline
    &__footer
        margin-top: 10px
        div
            display: flex
            justify-content: space-between
            margin-bottom: 15px
        h2
            font-size: 20px
        button
            width: 145px
            height: 45px
            border-radius: 50px
            background-color: #383838
            color: white
            &:first-child
                background-color: white
                color: black
                &:hover
                    background-color: #383838
                    color: white

